.input-area {
  display: grid;
  grid-template-columns: 88% 1fr;
  grid-column: 2 / 3;
}

.input-text {
  width: auto;
}

@media (max-width: 600px) {
  .input-area {
    grid-template-columns: 70 1fr;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}
