.message-area {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.message {
  background-color: #aed6f1;
  margin: 0.5rem 1rem;
  padding: 1rem;
  width: fit-content;
  border-radius: 20px;
}

.owner {
  align-self: flex-end;
  background-color: #abebc6;
}

.message span {
  font-weight: bold;
}

@media (max-width: 600px) {
  .message-area {
    width: 100%;
    grid-column: 1 / 3;
  }
}
